@model SaleDetailsModel

@{
    ViewData["Title"] = "Sale Details";
}

<h2>@ViewData["Title"]</h2>

<h1>@Model.CustomerName</h1>

<p>
    @Model.Discount.ToString("F2")%
</p>
<p>
    $@Model.DiscounterPrice.ToString("F2")
</p>
<p>
    @Model.Car.Make @Model.Car.Model @(Model.Car.TraveledDistance/1000) Km
</p>
