@model EditCameraModel

@{
    ViewData["Title"] = "Edit this camera";
}

<br />
<div class="container-fluid">
    <div class="col-sm-2">
        <br />
        <br />
        <br />
        <br />
        <ul>
            <li>
                <a href="/cameras/all/">All Cameras</a>
            </li>
            <li>
                <a href="/users/myprofile/">My Profile</a>
            </li>
            <li>
                <a href="/users/editmyprofile">Edit My Profile</a>
            </li>
            <li>
                <a href="/cameras/create">Add Camera</a>
            </li>
            <li>
                <a href="/users/logout">Log out</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-10">
        <h2>@ViewData["Title"]</h2>
        <br />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <h4>Edit this camera.</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Make">Make: </label>
                        <select asp-for="Make" asp-items="Html.GetEnumSelectList<CameraMakeType>()" class="form-control">
                            <option value="value"></option>
                        </select>
                        <span asp-validation-for="Make" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CameraModel"></label>
                        <input asp-for="CameraModel" class="form-control" />
                        <span asp-validation-for="CameraModel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price:</label>
                        <input asp-for="Price" min="0" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinShutterSpeed">Minimal Shutter Speed: </label>
                        <input asp-for="MinShutterSpeed" min="1" max="30" class="form-control" />
                        <span asp-validation-for="MinShutterSpeed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxShutterSpeed">Maximal Shutter Speed: </label>
                        <input asp-for="MaxShutterSpeed" min="2000" max="8000" class="form-control" />
                        <span asp-validation-for="MaxShutterSpeed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinISO">Min ISO: </label>
                        <select asp-for="MinISO" asp-items="Html.GetEnumSelectList<MinISO>()" class="form-control">
                            <option value="value"></option>
                        </select>
                        <span asp-validation-for="Make" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxISO">Max ISO: </label>
                        <input asp-for="MaxISO" min="200" max="409600" step="100" class="form-control" />
                        <span asp-validation-for="MaxISO" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsFullFrame">Full Frame: </label>
                        @*Yes <input type="radio" name="IsFullFrame" value="True" />
                            No <input type="radio" name="IsFullFrame" value="False" />*@

                        Yes @Html.RadioButtonFor(m => m.IsFullFrame, true)
                        No @Html.RadioButtonFor(m => m.IsFullFrame, false)
                        <span asp-validation-for="IsFullFrame" class="form-text text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoResolution">Video Resolution: </label>
                        <input asp-for="VideoResolution" class="form-control" />
                        <span asp-validation-for="VideoResolution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LightMeterings">Light Metering: </label>
                        @foreach (var enumValue in Enum.GetValues(typeof(LightMetering)))
                        {
                            <input type="checkbox" name="@nameof(LightMetering)s" value="@((int)enumValue)" /> @enumValue.ToString()
                        }

                        @*<input type="checkbox" name="LightMetering" value="@((int)LightMetering.Spot)" /> Spot
                            <input type="checkbox" name="LightMetering" value="@((int)LightMetering.CenterWeighted)" /> Center-Weighted
                            <input type="checkbox" name="LightMetering" value="@((int)LightMetering.Evaluative)" /> Evaluative*@
                        <span asp-validation-for="LightMeterings" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description: </label>
                        <textarea asp-for="Description" class="form-control" rows="5" cols="20"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">Image URL: </label>
                        <input asp-for="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Edit Camera</button>
                </form>
            </div>
        </div>
        </div>
    </div>
